<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!--log4net块配置-->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <!--log4net节点详细配置-->
  <log4net>
    <root>
      <!--控制级别，由低到高: ALL|DEBUG|INFO|WARN|ERROR|FATAL|OFF-->
      <!--比如定义级别为INFO，则INFO级别向下的级别，比如DEBUG日志将不会被记录-->
      <!--如果没有定义LEVEL的值，则缺省为DEBUG-->
      <level value="ERROR"/>
      <!--文件形式记录日志-->
      <appender-ref ref="sysAppender"/>
    </root>
    <logger name="WebLogger">
      <level value="DEBUG"/>
    </logger>
    <appender name="sysAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="File" value="APP_Data/"/>
      <!--记录日志的文件夹-->
      <param name="appendToFile" value="true"/>
      <param name="rollingStyle" value="Date"/>
      <param name="datePattern" value="&quot;Logs_&quot;yyyyMMdd&quot;.txt&quot;"/>
      <param name="staticLogFileName" value="false"/>
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="conversionPattern" value="%d [%t] [%-5p] %c - %m%n"/>
        <param name="Header" value="&#xA;-------------------------------header----------------------&#xA;"/>
        <param name="Footer" value="&#xA;-------------------------------footer----------------------&#xA;"/>
      </layout>
    </appender>
    <appender name="consoleApp" type="log4net.Appender.ConsoleAppender,log4net">
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="conversionPattern" value="%d [%t] %-5p %c - %m%n"/>
      </layout>
    </appender>
  </log4net>
  <!--log4net节点详细配置结束-->
  <connectionStrings>
    <!--<add name="sqlConnStr" connectionString="server=.\sql2008r2;user id=sa;password=Landa@2018;database=DEV_DaZhong_ReckoningSystem"/>
    <add name="DZBusinessDataSql" connectionString="server=.\sql2008r2;user id=sa;password=Landa@2018;database=DEV_DaZhong_BusinessData_ReckoningSystem;"/>-->
    <add name="sqlConnStr" connectionString="server=10.10.10.105\sql2008r2;user id=sa;password=Landa@2018;database=DEV_DaZhong_ReckoningSystem"/>
    <add name="DZBusinessDataSql" connectionString="server=10.10.10.105\sql2008r2;user id=sa;password=Landa@2018;database=DEV_DaZhong_BusinessData_ReckoningSystem;"/>
    <!--<add name="sqlConnStr" connectionString="server=172.0.0.205\sql2008r2;user id=sa;password=Landa@2018;database=DEV_DaZhong_ReckoningSystem"/>
    <add name="DZBusinessDataSql" connectionString="server=172.0.0.205\sql2008r2;user id=sa;password=Landa@2018;database=DEV_DaZhong_BusinessData_ReckoningSystem;"/>-->
    
    <!--<add name="sqlConnStr" connectionString="server=172.16.3.38\sql2008r2;user id=sa;password=Landa@2018;database=DEV_DaZhong_ReckoningSystem"/>
    <add name="DZBusinessDataSql" connectionString="server=172.16.3.38\sql2008r2;user id=sa;password=Landa@2018;database=DEV_DaZhong_BusinessData_ReckoningSystem;"/>-->
    
    <!--<add name="sqlConnStr" connectionString="server=DESKTOP-25QQ3NK;user id=sa;password=123456;database=DEV_DaZhong_ReckoningSystem"/>
    <add name="DZBusinessDataSql" connectionString="server=DESKTOP-25QQ3NK;user id=sa;password=123456;database=DEV_DaZhong_BusinessData_ReckoningSystem;"/>-->

    <!--<add name="sqlConnStr" connectionString="server=172.0.0.205\sql2008r2;user id=sa;password=Landa@2018;database=DEV_DaZhong_ReckoningSystem"/>
    <add name="DZBusinessDataSql" connectionString="server=172.0.0.205\sql2008r2;user id=sa;password=Landa@2018;database=DEV_DaZhong_BusinessData_ReckoningSystem;"/>-->
    
    <!--<add name="sqlConnStr" connectionString="server=172.0.0.226\sql2008r2;user id=sa;password=Landa@2018;database=DEV_DaZhong_ReckoningSystem"/>
    <add name="DZBusinessDataSql" connectionString="server=172.0.0.226\sql2008r2;user id=sa;password=Landa@2018;database=DEV_DaZhong_BusinessData_ReckoningSystem;"/>-->
    
    <!--<add name="sqlConnStr" connectionString="server=192.168.173.51;user id=ZhangZeQun;password=zzq1403ZZQ;database=DEV_DaZhong_ReckoningSystem"/>
    <add name="DZBusinessDataSql" connectionString="server=192.168.173.51;user id=ZhangZeQun;password=zzq1403ZZQ;database=DEV_DaZhong_BusinessData_ReckoningSystem;"-->
    
    <!--<add name="sqlConnStr" connectionString="Data Source=192.168.0.111\sql2008;Initial Catalog=DEV_DaZhong_ReckoningSystem;Persist Security Info=True;User ID=sa;Password=landa" providerName="System.Data.SqlClient" />-->
    <!--<add name="DZBusinessDataSql" connectionString="Data Source=192.168.0.111\sql2008;Initial Catalog=DEV_DaZhong_BusinessData_ReckoningSystem;Persist Security Info=True;User ID=sa;Password=landa" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="vs:EnableBrowserLink" value="false"/>

    <add key="RevenueSystemTotalPath" value="http://192.168.173.81/ExternalDeveloper/Interface2Landa.cfc?method=ClearingPlatformReconciliations"/>
    <add key="RevenueSystemAccountingPath" value="http://192.168.173.81/ExternalDeveloper/Interface2Landa.cfc?method=ClearingPlatformRecorded"/>
    
    <!--上海银行银企直连—行内转账接口-->
    <add key="BankPreAuthURL" value="http://zhangzeq.xicp.net:13570/ExternalDeveloper/Interface2Landa.cfc?method=ShangHaiBankTransferInnerBankPreAuth"/>
    <!--上海银行银企直连—跨行转账接口-->
    <add key="CrossBankPreAuthURL" value="http://zhangzeq.xicp.net:13570/ExternalDeveloper/Interface2Landa.cfc?method=ShangHaiBankTransferCrossBankPreAuth"/>
    <!--上海银行银企直连—查询转账结果接口-->
    <add key="AuthTransferResult" value="http://zhangzeq.xicp.net:13570/ExternalDeveloper/Interface2Landa.cfc?method=ShangHaiBankPreAuthTransferResult"/>
    <!--上海银行银企直连—清算平台、获取凭证附件资源文件Url-->
    <add key="GetAttachmentUrl" value="http://zhangzeq.xicp.net:13570/ExternalDeveloper/Interface2Landa.cfc?method=ClearingPlatformPaymentAttachmentFileSource"/>
    
    <add key="CapitalAccount" value="31685803002369318"/>
    <!--同步银行数据地址-->
    <!--<add key="TradingFlowUrl" value="http://192.168.173.81/ExternalDeveloper/Interface2Landa.cfc?method=ShangHaiBankDailyTradingFlow"/>
    <add key="HistoryTradingFlowUrl" value="http://192.168.173.81/ExternalDeveloper/Interface2Landa.cfc?method=ShangHaiBankHistoryTradingFlow"/>-->

    <add key="TradingFlowUrl" value="http://zhangzeq.xicp.net:13570/ExternalDeveloper/Interface2Landa.cfc?method=ShangHaiBankDailyTradingFlow"/>
    <add key="HistoryTradingFlowUrl" value="http://zhangzeq.xicp.net:13570/ExternalDeveloper/Interface2Landa.cfc?method=ShangHaiBankHistoryTradingFlow"/>

    <!--资产维护同步数据-->
    <add key="AssetMaintenanceTradingFlowUrl" value="http://"/>
    <!--获取资产子类类别-->
    <add key="GetAssetMinorUrl" value="http://"/>
    <!--同步间隔时间,单位小时-->
    <add key="TimeSpan" value="2"/>
    <!--同步间隔时间,单位分钟-->
    <add key="TimeSpanMin" value="5"/>
  </appSettings>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime/>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
    </httpModules>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <remove name="TelemetryCorrelationHttpModule"/>
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="integratedMode,managedHandler"/>
      <remove name="ApplicationInsightsWebTracking"/>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler"/>
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
</configuration>