@using DaZhongTransitionLiquidation.Infrastructure.DbEntity
@using DaZhongTransitionLiquidation.Areas.PaymentManagement.Models;
@{
    ViewBag.Title = "凭证管理/凭证明细";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var currentModuleRolePermission = ViewBag.CurrentModulePermission as Sys_Role_Module;
    var companyCode = ViewBag.CompanyCode as List<Business_SevenSection>;
}
@section js{
    <script src="@Url.CusContent("~/_theme/DatePicker/WdatePicker.js")"></script>
    <script src="@Url.CusContent("~/Areas/VoucherManageManagement/Views/_js/VoucherListDetail.js")"></script>
}
<style>
    .input_text {
        width: 200px;
        height: 35px;
        border: 1px;
        border-style: solid;
        border-color: #dddddd;
        -moz-box-shadow: 0px 1px 10px #dddddd;
        -webkit-box-shadow: 0px 1px 10px #dddddd;
        box-shadow: 0 0 10px #dddddd;
        background-color: white !important;
        border-radius: 4px;
        float: left;
    }

    .jqx-tabs-content-element {
        overflow: auto !important;
    }

    #btn_AttachmentBrowseButton {
        width: auto;
        min-width: 277px;
        min-width: 570px;
        height: 40px;
        margin: 0px 10px 10px;
        cursor: pointer;
        padding: 0px 20px;
        border: 0px solid rgb(72, 184, 232);
        color: rgb(204, 204, 204);
        outline: none;
        font-size: 15px;
        font-weight: bold;
        position: initial !important;
        background: rgb(0, 153, 204) !important;
    }

    #btn_AttachmentUploadButton, #btn_AttachmentCancelButton {
        width: 150px !important;
        height: 35px;
    }

    #btn_AttachmentUploadButton {
        margin-left: 120px;
    }

    .closes {
        float: initial !important;
        font-size: 22px;
        font-weight: bold;
        line-height: 1;
        color: #000;
        text-shadow: 0 1px 0 #fff;
        opacity: .2;
        padding: 0px;
        cursor: pointer;
        background: transparent;
        border: 0;
        -webkit-appearance: none;
    }

    .nav-i, .nav-i2 {
        width: 1510px;
        margin-left: 12px !important;
        border: 1px solid #ccc !important;
    }
</style>
<table id="hideButton" style="margin-top: 10px;">
    <tr style="height: 50px;">
        <td style="width: 95px;">
            <button id="Preview" type="button" class="buttons"><i class="iconfont btn_icon" style="color: black !important;">&#xe6f3;</i><span style="margin-left: 7px; float: left;">预览</span></button>
            @*<button id="btnSave" type="button" class="buttons"><i class="iconfont btn_icon" style="color: black !important;">&#xe6f3;</i><span style="margin-left: 7px; float: left;">保存</span></button>*@
        </td>
        <td style="width: 95px;">
            <button id="btnCancel" type="button" class="buttons"><i class="iconfont btn_icon" style="color: black !important;">&#xe678; </i><span style="margin-left: 7px; float: left;">取消</span></button>
        </td>
    </tr>
</table>

<div class="mk">
    <div class="header_mk">
        <div class="header_icon"></div>
        <div class="header_text_div"><span class="header_text_span">主信息</span></div>
    </div>
    <div class="body_mk" style="height: 230px;">
        <table id="VoucherList" style="width:100%;">
            <tr style="height:50px">
                <td style="text-align: right;"></td>
                <td style=""></td>
                <td style="text-align: right;width: 255px;">公司名称：</td>
                <td style="text-align: left;"><select id="CompanyCode" class="input_text form-control"></select></td>
                <td style="width: 200px;"></td>
                <td></td>
            </tr>
            <tr style="height:40px">
                <td style="text-align: right;">凭证类型：</td>
                <td style="text-align: left;">
                    <select id="VoucherType" style="width: 200px;" class="input_text form-control" validatetype="required">
                        <option value="现金类">现金类</option>
                        <option value="银行类">银行类</option>
                        <option value="摊销类">摊销类</option>
                        <option value="计提类">计提类</option>
                        <option value="结转类">结转类</option>
                    </select>
                </td>
                <td style="text-align: right;width: 255px;"></td>
                <td style="text-align: left;"></td>
                <td style=""></td>
                <td></td>
            </tr>
            <tr style="height:40px">
                <td style="text-align: right;">会计期：</td>
                <td style="text-align: left;"><input id="AccountingPeriod" type="text" style="width: 200px;" class="input_text form-control" onfocus="WdatePicker({  realDateFmt: 'yyyy-MM', dateFmt: 'yyyy-MM', lang: 'zh-cn' })" /></td>
                <td style="text-align: right;">批名：</td>
                <td style="text-align: left;"><input id="BatchName" type="text" style="width: 200px;" class="input_text form-control" readonly="readonly" /></td>
                <td style="text-align: right;">凭证号码：</td>
                <td style="text-align: left;"><input id="VoucherNo" type="text" style="width: 200px;" class="input_text form-control" readonly="readonly" /></td>
            </tr>
            <tr style="height:40px">
                <td style="text-align: right;">币种：</td>
                <td style="text-align: left;"><input id="Currency" type="text" style="width: 200px;" class="input_text form-control" validatetype="required" /></td>
                <td style="text-align: right;">凭证日期：</td>
                <td style="text-align: left;"><input id="VoucherDate" type="text" style="width: 200px;" class="input_text form-control" onfocus="WdatePicker({  realDateFmt: 'yyyy-MM-dd', dateFmt: 'yyyy-MM-dd', lang: 'zh-cn' })" /></td>
                <td style="text-align: right;">@*财务主管：*@制单：</td>
                <td style="text-align: left;">
                    @*<input id="FinanceDirector" type="text" style="width: 200px;display:none" class="input_text form-control" validatetype="required" />*@
                    <input id="DocumentMaker" type="text" style="width: 200px;" class="input_text form-control" readonly="readonly" />
                </td>
            </tr>
            <tr style="height:40px">
                <td style="text-align: right;">@*记账：*@</td>
                <td style="text-align: left;"><input id="Bookkeeping" type="text" style="width: 200px;display:none" class="input_text form-control" validatetype="required" /></td>
                <td style="text-align: right;">@*审核：*@</td>
                <td style="text-align: left;"><input id="Auditor" type="text" style="width: 200px;display:none" class="input_text form-control" validatetype="required" /></td>
                <td style="text-align: right;"></td>
                <td style="text-align: left;"></td>
            </tr>
            <tr style="height:40px">
                <td style="text-align: right;">@*出纳：*@</td>
                <td style="text-align: left;"><input id="Cashier" type="text" style="width: 200px;display:none" class="input_text form-control" validatetype="required" /></td>
                <td style="text-align: right;"></td>
                <td style="text-align: left;"></td>
                <td style="text-align: right;"><input id="Status" name="Status" value="" class="hide" /></td>
                <td style="text-align: right;"><input id="VGUID" name="VGUID" class="hide" /></td>
            </tr>
        </table>
    </div>
</div>

<div class="mk">
    <div class="header_mk">
        <div class="header_icon"></div>
        <div class="header_text_div"><span class="header_text_span">明细信息</span></div>
    </div>
    <button id="btnAddDetail" type="button" class="buttons" style="margin-top: 2px;"><i class="iconfont btn_icon" style="color: black !important;">&#xe634;</i><span style="margin-left: 7px; float: left;">新增</span></button>
    <div id='jqxTabs'>
        <ul>
            <li style="margin-left: 30px;">
                <div style="height: 20px; margin-top: 5px;width: 500px;text-align: center;">
                    借方
                </div>
            </li>
            <li>
                <div style="height: 20px; margin-top: 5px;width: 500px;text-align: center;">
                    贷方
                </div>
            </li>
        </ul>
        <div style="overflow: hidden;" id="BorrowTable">

        </div>
        <div style="overflow: hidden;" id="LoanTable">

        </div>
    </div>
</div>


<div class="mk">
    <div class="header_mk">
        <div class="header_icon"></div>
        <div class="header_text_div"><span class="header_text_span">附件信息</span></div>
    </div>
    <div class="body_mk" style="height: 200px;">
        <table id="VoucherListAttachment" style="width:100%;">
            <tr style="height:10px"></tr>
            <tr style="height:40px">
                <td style="text-align: right;">类型：</td>
                <td style="text-align: left;width: 150px;">
                    <select id="AttachmentType" style="width: 150px;" class="input_text form-control" validatetype="required">
                        <option value="发票">发票</option>
                        <option value="借款单">借款单</option>
                        <option value="付款凭证">付款凭证</option>
                        <option value="结算凭证">结算凭证</option>
                        <option value="报销凭证">报销凭证</option>
                    </select>
                </td>
                <td style="text-align: right;">附件：</td>
                <td style="text-align: left;">

                    <!------------------btn_Attachment BEGIN------------------>
                    <div type="button" id="btn_Attachment" class=""></div>
                    <!------------------btn_Attachment END------------------>
                    <!------------------Attachment BEGIN------------------>
                    <input type="hidden" id="Attachment" class="" name="Attachment" value="" style="" />
                    <!------------------Attachment END------------------>

                </td>
            </tr>
            <tr style="height:40px">
                <td style="text-align: right;"></td>
                <td style="text-align: left;"></td>
                <td style="text-align: right;"></td>
                <td style="text-align: left;"><div id="attachments"></div></td>
            </tr>
        </table>
    </div>
</div>
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="AddCompanyDialog">
    <div class="modal-dialog modal-sm" style="width: 100%; padding-right: 20px; margin-top: 100px;">
        <div class="modal-content" style="width: 500px; margin-left: auto; margin-right: auto;">
            <div class="modal-header" style="width: 100%; margin-left: auto; margin-right: auto;">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel_titles2" style="color: #555; font-family: Calibri;">选择科目段</h4>
            </div>
            <div class="modal-body" style="width: 100%;">
                <div id="jqxSubjectSection" class="jqxTable" style=""></div>
            </div>
        </div>
    </div>
</div>

<div>
    <table id="VoucherListDetailss" style="width:70%;margin-left: 300px;display:none">
        <tr>
            <td>
                <button id="btnAdd" type="button" class="buttons"><i class="iconfont btn_icon" style="color: black !important;">&#xe634;</i><span style="margin-left: 7px; float: left;">新增</span></button>
                <button id="btnDelete" type="button" class="buttons"><i class="iconfont btn_icon" style="color: black !important;">&#xe640;</i><span style="margin-left: 7px; float: left;">删除</span></button>
            </td>
        </tr>
        <tr>
            <td>
                <div id="jqxTable" class="jqxTable"></div>
            </td>
        </tr>
    </table>
</div>

