@using DaZhongTransitionLiquidation.Infrastructure.DbEntity
@{
    ViewBag.Title = "结算数据/营收数据";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var currentModuleRolePermission = ViewBag.CurrentModulePermission as Sys_Role_Module;
}
@section js{

    <script src="@Url.CusContent("~/_theme/DatePicker/WdatePicker.js")"></script>
    <script src="@Url.CusContent("~/Areas/PaymentManagement/Views/_js/RevenuePayment.js")"></script>
}

<!-- 中部条件 -->
<div class="mk">
    <div class="header_mk">
        <div class="header_icon"></div>
        <div class="header_text_div"><span class="header_text_span">查询</span></div>
    </div>
    <div class="body_mk" style="height: 100px">
        <table style="margin-top: 20px; margin-left: 20px;">
            <tr style="height: 45px;">
                <td class="td_span" style="width:120px">一级渠道名称：</td>
                <td class="td_input">
                    @*<input id="txtTransactionId" type="text" class="input_text form-control" />*@
                    <select id="txtChannel" class="input_text form-control" onchange="changeChannel()"></select>
                </td>
                <td class="td_span" style="width:120px">二级渠道名称：</td>
                <td class="td_input">
                    <select id="txtChannel2" class="input_text form-control"></select>
                    @*<input id="txtChannel" type="text" class="input_text form-control" />*@
                </td>
                @*<td class="td_span">支付流水号：</td>
                <td class="td_input">
                    <input id="txtTransactionId" type="text" class="input_text form-control" />
                </td>*@
                @*<td class="td_span">支付状态：</td>
                    <td class="td_input">
                        <select id="selPaymentStatus" class="input_text form-control">
                            <option value="">===请选择===</option>
                            <option value="1">支付成功</option>
                            <option value="2">支付失败</option>
                            <option value="3">待支付</option>
                            <option value="4">已退款</option>
                        </select>
                    </td>*@
                <td>
                    <button id="btnSearch" type="button" class="buttons"><i class="iconfont btn_icon" style="color: black !important;">&#xe679;</i><span style="margin-left: 7px; float: left;">查询</span></button>
                </td>
            </tr>
            <tr style="height: 45px;">

                <td class="td_span">付款时间起：</td>
                <td class="td_input">
                    <input id="txtPaymentForm" type="text" onfocus="WdatePicker({ maxDate: '#F{$dp.$D(\'txtPaymentTo\')||\'%y-#{%M}\'}', realDateFmt: 'yyyy-MM-dd', dateFmt: 'yyyy-MM-dd', lang: 'zh-cn' })" class="input_text form-control" />
                </td>
                <td class="td_span">付款时间止：</td>
                <td class="td_input">
                    <input id="txtPaymentTo" type="text" onfocus="WdatePicker({ maxDate: '%y-#{%M}', minDate: '#F{$dp.$D(\'txtPaymentForm\')}', realDateFmt: 'yyyy-MM-dd', dateFmt: 'yyyy-MM-dd', lang: 'zh-cn' })" class="input_text form-control" />
                </td>
                
                <td>
                    <button id="btnReset" type="button" class="buttons"><i class="iconfont btn_icon" style="color: black !important;">&#xe671;</i><span style="margin-left: 7px; float: left;">重置</span></button>
                </td>
            </tr>
        </table>
    </div>
</div>
<!-- 中部条件 -->
<!-- 底部表格 -->
<div class="mk">
    <div class="header_mk">
        <div class="header_icon"></div>
        <div class="header_text_div"><span class="header_text_span">数据列表</span></div>
    </div>

    <div id="datatable" class="jqxTable">
    </div>
</div>
<!-- 底部表格 -->
<input type="hidden" id="txtTransactionId_T" value="@ViewData["transactionId"]" />