@charset "utf-8";

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

input[type=submit], input[type=reset], input[type=button], input {
    resize: none;
    border: none;
}

a {
    -webkit-tap-highlight-color: transparent;
}

article, aside, details, figcaption, figure, footer, header, menu, nav, section {
    display: block;
}

img {
    max-width: 100%;
    height: auto;
    max-width: auto\9;
    display: block;
    -ms-interpolation-mode: bicubic;
}

body, div, ul, li, ol, h1, h2, h3, h4, h5, h6, input, textarea, select, p, dl, dt, dd, a, img, button, form, table, th, tr, td, tbody, article, aside, details, figcaption, figure, footer, header, menu, nav, section {
    margin: 0;
    padding: 0;
}

body {
    font: 'Microsoft YaHei','宋体',Tahoma,Arial,sans-serif,Calibri;
    color: #555;
    background-color: #f7f7f7;
}

em, i {
    font-style: normal;
}

ul, li, ol {
    list-style-type: none;
}

strong {
    font-weight: 400;
}

.clearfix:after {
    content: "";
    display: block;
    visibility: hidden;
    height: 0;
    clear: both;
}

.clearfix {
    zoom: 1;
}

a {
    text-decoration: none;
    /*color: #969696;*/
    font-family: microsoft yahei,Tahoma,Arial,sans-serif,Calibri;
}

    a:hover {
        text-decoration: none;
    }

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-family: microsoft yahei;
}

img {
    border: none;
}

input {
    font-family: microsoft yahei;
}

.one-txt-cut {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.txt-cut {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.w50 {
    width: 50%;
}

.w25 {
    width: 25%;
}

.w20 {
    width: 20%;
}

.w33 {
    width: 33.333333%;
}

.w {
    width: 7.5rem;
    margin: 0 auto;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.db {
    display: block !important;
}

.dn {
    display: none;
}

.title {
    width: 7.5rem;
    height: .88rem;
}

    .title .back {
        display: inline-block;
        width: 1.5rem;
        height: .88rem;
        text-align: center;
        color: #fff;
        float: left;
        background: url(../img/back.png);
        background-size: auto 70%;
        background-position: center center;
        background-repeat: no-repeat;
    }

    .title .logo {
        width: 4.5rem;
        text-align: center;
        margin: 0 auto;
        font-size: .36rem;
        line-height: .88rem;
        color: #fff;
    }

.foot {
    width: 7.5rem;
    height: 1rem;
    background: #fff;
    position: fixed;
    bottom: 0;
    -moz-box-shadow: 0 -1px 10px rgba(0,0,0,.1);
    -webkit-box-shadow: 0 -1px 10px rgba(0,0,0,.1);
    box-shadow: 0 -1px 10px rgba(0,0,0,.1);
}

    .foot li {
        width: 20%;
        float: left;
        text-align: center;
        font-size: .24rem;
    }

        .foot li img {
            width: .44rem;
            height: .44rem;
            margin: .1rem auto 0;
        }

        .foot li.b_center img {
            width: .8rem;
            height: .8rem;
        }

        .foot li.select {
            color: #28cec3;
        }
