@using DaZhongTransitionLiquidation.Infrastructure.DbEntity

@{
    ViewBag.Title = "凭证录入/凭证模板";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //var currentModuleRolePermission = ViewBag.CurrentModulePermission as Sys_Role_Module;
    var user = ViewBag.User as Sys_User; ;
    var moduleMenu = user.GetCurrentPagePermission();
}
@section js{
    <script src="@Url.CusContent("~/_theme/DatePicker/WdatePicker.js")"></script>
    <script src="@Url.CusContent("~/Areas/VoucherManageManagement/Views/_js/VoucherModel.js")"></script>
}

@section css{

}
@if (moduleMenu.New || moduleMenu.StrikeOut)
{
    <table style="margin-top: 10px;">
        <tr style="height: 50px;">
            @if (moduleMenu.New)
            {
                <td style="width: 95px;">
                    <button id="btnAdd" type="button" class="buttons"><i class="iconfont btn_icon" style="color: black !important;">&#xe634;</i><span style="margin-left: 7px; float: left;">新增</span></button>
                </td>
            }
            @if (moduleMenu.StrikeOut)
            {
                <td style="width: 95px;">
                    <button id="btnDelete" type="button" class="buttons"><i class="iconfont btn_icon" style="color: black !important;">&#xe640;</i><span style="margin-left: 7px; float: left;">删除</span></button>
                </td>
            }
            @if (moduleMenu.Enable)
            {
                <td style="width: 95px;">
                    <button id="btnEditDo" type="button" class="buttons"><i class="iconfont btn_icon" style="color: black !important;">&#xe6f1;</i><span style="margin-left: 7px; float: left;">启用</span></button>
                </td>
                <td style="width: 95px;">
                    <button id="btnEditDis" type="button" class="buttons"><i class="iconfont btn_icon" style="color: black !important;">&#xe6f2;</i><span style="margin-left: 7px; float: left;">禁用</span></button>
                </td>
            }
        </tr>
    </table>
}
<input type="hidden" id="valEdit" value="@moduleMenu.Edit.ToString().ToLower()" />
<!-- 中部条件 -->
<div class="mk">
    <div class="header_mk">
        <div class="header_icon"></div>
        <div class="header_text_div"><span class="header_text_span">查询</span></div>
    </div>
    <div class="body_mk" style="height: 60px;">
        <table style="margin-top: 20px; width: 800px;">
            <tr style="height: 45px;">
                <td class="td_span">模板名称：</td>
                <td class="td_input">
                    <input id="ModelName" type="text" class="input_text form-control" />
                </td>
                <td style="">
                    <button id="btnSearch" type="button" class="buttons"><i class="iconfont btn_icon">&#xe679;</i><span style="margin-left: 7px; float: left;">查询</span></button>
                </td>
            </tr>

        </table>
    </div>
</div>
<!-- 中部条件 -->
<!-- 底部表格 -->
<div class="mk">
    <div class="header_mk">
        <div class="header_icon"></div>
        <div class="header_text_div"><span class="header_text_span">数据列表</span></div>
    </div>
    <div id="jqxTable" class="jqxTable">
    </div>
</div>
<!-- 底部表格 -->
<input type="hidden" id="EditPermission" value="1" />
