@using DaZhongTransitionLiquidation.Infrastructure.DbEntity
@using DaZhongTransitionLiquidation.Areas.AssetPurchase.Models;
@{
    ViewBag.Title = "订单管理/无形资产订单明细";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var user = ViewBag.User as Sys_User;
    var permission = user.GetCurrentPagePermission();
}
@section js{
    <script src="@Url.CusContent("~/_theme/DatePicker/WdatePicker.js")"></script>
    <script src="@Url.CusContent("~/_theme/tool/qwebchannel.js")"></script>
    <script src="@Url.CusContent("~/Areas/AssetPurchase/Views/_js/IntangibleAssetsOrderDetail.js")"></script>
    <script src="@Url.CusContent("~/_theme/_js/jquery.form.js")"></script>
}
<style>
    .input_text {
        width: 150px;
        height: 35px;
        border: 1px;
        border-style: solid;
        border-color: #dddddd;
        -moz-box-shadow: 0px 1px 10px #dddddd;
        -webkit-box-shadow: 0px 1px 10px #dddddd;
        box-shadow: 0 0 10px #dddddd;
        background-color: white !important;
        border-radius: 4px;
        float: left;
    }

    .jqx-combobox-input {
        padding-left: 10px;
        color: #555;
    }
    .jqx-tabs-content-element {
        overflow: auto !important;
    }
    .jqx-dropdownlist-content {
        padding-left: 5px;
        padding-top: 3px;
    }

    /*.SearchInput {
        background-image: url(/_theme/jqwidgets-ver5.5.0/images/search_lg.png);
        background-size: 20px 20px;
        background-position: right;
        background-repeat: no-repeat;
        cursor: pointer;
    }*/
    table .mk {
        width: 98%;
    }
    .delAttachment {
        cursor: pointer;
    }
    .msg {
       width:auto;
    }
</style>
<table id="hideButton" style="margin-top: 10px;display:block" width="98%">
    <tr style="height: 50px;">
        @if (permission.New || permission.Edit)
        {
            <td style="width: 95px;padding-right: 10px">
                <button id="btnSave" type="button" class="buttons" style=""><i class="iconfont btn_icon" style="color: black !important;">&#xe6f3;</i><span style="margin-left: 7px; float: left;">保存</span></button>
            </td>
        }
        @if (permission.New)
        {
            <td style="width: 95px;padding-right: 10px">
                <button id="btnPrint" type="button" class="buttons" style="width: 130px;"><i class="iconfont btn_icon" style="color: black !important;">&#xea0e; </i><span style="margin-left: 7px; float: left;">打印付款凭证</span></button>
            </td>
        }
        <td style="width: 95px;padding-right: 10px">
            <button id="btnCancel" type="button" class="buttons" style=""><i class="iconfont btn_icon" style="color: black !important;">&#xe678; </i><span style="margin-left: 7px; float: left;">取消</span></button>
        </td>
        @if (permission.Obsolete)
        {
            <td style="width: 95px; padding-right: 10px; display: none">
                <button id="btnObsolete" type="button" class="buttons" style=""><i class="iconfont btn_icon" style="color: black !important;">&#xe678; </i><span style="margin-left: 7px; float: left;">作废</span></button>
            </td>
        }
        @if (permission.Submit)
        {
            <td width="100%" align="right" hidden>
                <button id="btnSubmit" type="button" class="buttons" style="width:100px"><i class="iconfont btn_icon" style="color: black !important;">&#xe683;</i><span style="margin-left: 7px; float: left;">发起支付</span></button>
            </td>
        }
    </tr>
</table>

<div class="mk">
    <div class="header_mk">
        <div class="header_icon"></div>
        <div class="header_text_div"><span class="header_text_span">主信息</span></div>
    </div>
    <div class="body_mk" style="height: 240px;">
        <table id="VoucherList" style="width:1000px;margin-top:20px">
            <tr style="height:50px">
                <td style="text-align: right;width:100px">采购部门：</td>
                <td style="text-align: left;width:220px">
                    @*<div id="PurchaseDepartment" style="padding-left: 6px"></div>*@
                    <select id="PurchaseDepartment" class="input_text form-control" style="width: 200px;" validatetype="required"></select>
                </td>
                <td style="text-align: right;width:100px">采购物品：</td>
                <td style="text-align: left;width:220px">
                    <select id="PurchaseGoods" class="input_text form-control" style="width: 200px;" validatetype="required"></select>
                </td>
                <td style="text-align: right;width:100px">合同总价格：</td>
                <td style="text-align: left;width:220px">
                    <input id="SumPayment" type="text" value="" style="width: 200px;" validatetype="required,number" class="input_text form-control" />
                </td>
            </tr>
            <tr style="height: 50px">
                
                <td style="text-align: right;width:100px">合同首付款：</td>
                <td style="text-align: left;width:220px"><input id="FirstPayment" type="text" value="" style="width: 200px;" class="input_text form-control" validatetype="required,number"/></td>
                <td style="text-align: right;width:100px">合同中期款：</td>
                <td style="text-align: left;width:220px"><input id="InterimPayment" type="text" value="" style="width: 200px;" class="input_text form-control" validatetype="required,number" /></td>
                <td style="text-align: right;width:100px">合同尾款：</td>
                <td style="text-align: left;width:220px"><input id="TailPayment" disabled type="text" value="" style="width: 200px;" class="input_text form-control" validatetype="required,number"/></td>
            </tr>
            <tr style="height: 50px">
                <td style="text-align: right; vertical-align: top;padding-top: 15px">采购说明：</td>
                <td style="text-align: left;width:220px" colspan="4">
                    <textarea id="AssetDescription" style="width: 528px; height: 100px;margin-top: 8px"  class="input_text form-control"  validatetype="required"></textarea>
                </td>
            </tr>
            <tr style="display: none">
                <td></td>
                <td>
                    <input id="VGUID" name="VGUID" />
                </td>
            </tr>
            <tr></tr>
        </table>
    </div>
</div>
<div class="mk">
    <div class="header_mk">
        <div class="header_icon"></div>
        <div class="header_text_div"><span class="header_text_span">供应商信息</span></div>
    </div>
    <div class="body_mk" style="height: 120px;">
        <table id="Supplier" style="width:1000px;margin-top:20px">
            <tr style="height:50px">
                <td style="text-align: right;width:100px">供应商名称：</td>
                <td style="text-align: left;width:220px">
                    <div id="PaymentInformation">
                    </div>
                    <div style="display: none">
                        <input id="hiddenPaymentInformationVguid" type="text" value="" style="width: 200px;" class="input_text form-control SearchInput" />
                        <input id="hiddenPaymentInformation" type="text" value="" style="width: 200px;" class="input_text form-control SearchInput" />
                    </div>
                </td>
                <td style="text-align: right;width:100px">户名：</td>
                <td style="text-align: left;width:220px"><input id="BankAccountName" disabled="disabled" type="text" value="" style="width: 200px;" class="input_text form-control" validatetype="required" /></td>
                <td style="text-align: right;width:100px">账号：</td>
                <td style="text-align: left;width:220px"><input id="BankAccount" disabled="disabled" type="text" value="" style="width: 200px;" class="input_text form-control" validatetype="required" /></td>
            </tr>
            <tr>
                <td style="text-align: right;width:100px">开户行：</td>
                <td style="text-align: left;width:220px"><input id="Bank" disabled="disabled" type="text" value="" style="width: 200px;" class="input_text form-control" validatetype="required" /></td>
                <td style="text-align: right;width:100px">行号：</td>
                <td style="text-align: left;width:220px"><input id="BankNo" disabled="disabled" type="text" value="" style="width: 200px;" class="input_text form-control" validatetype="required" /></td>
            </tr>
        </table>
    </div>
</div>
<div class="mk">
    <div class="header_mk">
        <div class="header_icon"></div>
        <div class="header_text_div"><span class="header_text_span">付款信息</span></div>
    </div>
    <div class="body_mk" style="height: 120px;">
        <table id="PayInfo" style="width:1000px;margin-top:20px">
            <tr style="height: 50px">
                <td style="text-align: right;width:100px">付款方式：</td>
                <td style="text-align: left;width:220px">
                    <select id="PayMode" class="input_text form-control" style="width: 200px;">
                        <option value="转账" selected="selected">银行转账</option>
                        <option value="现金">现金支付</option>
                    </select>
                </td>
                <td style="text-align: right;width:100px">付款公司：</td>
                <td style="text-align: left;width:220px">
                    <div id="PayCompanyDropdown">
                    </div>
                    <input id="hidPayCompany" disabled="disabled" type="text" value="" style="width: 200px;display: none" class="input_text form-control" />
                </td>
                <td style="text-align: right;width:100px">开户行：</td>
                <td style="text-align: left;width:220px"><input id="CompanyBankName" disabled="disabled" type="text" value="" style="width: 200px;" class="input_text form-control" validatetype="required" /></td>
            </tr>
            <tr>
                <td style="text-align: right;width:100px">银行账号：</td>
                <td style="text-align: left;width:220px"><input id="CompanyBankAccount" disabled="disabled" type="text" value="" style="width: 200px;" class="input_text form-control" validatetype="required" /></td>
                <td style="text-align: right;width:100px">银行户名：</td>
                <td style="text-align: left;width:220px"><input id="CompanyBankAccountName" disabled="disabled" type="text" value="" style="width: 200px;" class="input_text form-control" validatetype="required" /></td>
                <td style="text-align: right;width:100px">账户类型：</td>
                <td style="text-align: left;width:220px"><input id="AccountType" disabled="disabled" type="text" value="" style="width: 200px;" class="input_text form-control" validatetype="required" /></td>
            </tr>
        </table>
    </div>
</div>
<!--附件信息-->
<table style="width: 98.5%;margin-bottom: 20px" margin=5 padding=10>
    <tr style="height:100px">
        <td style="vertical-align:top; width: 30%;">
            <div class="mk">
                <div class="header_mk">
                    <div class="header_icon"></div>
                    <div class="header_text_div">
                        <span class="header_text_span">付款凭证</span>
                        <div class="header_operation" style="float: right;margin-right:8px">
                            <button AttachmentType="付款凭证" title="拍照上传" type="button" class="btn camera" style="width: 26px; padding: 0; vertical-align:baseline; height: 30px; background-color: #F5F5F5 !important;"><i class="iconfont">&#xe8d3;</i></button>
                            <button AttachmentType="付款凭证" title="本地上传" type="button" class="btn upload" style="width: 26px; padding: 0; vertical-align:baseline; height: 30px; background-color: #F5F5F5 !important;"><i class="iconfont">&#xe98e;</i></button>
                        </div>
                    </div>
                </div>
                <div id="ImgPaymentReceipt" class="body_mk" style="min-height:150px;height:auto;padding:10px">

                </div>
            </div>
        </td>
        <td style="vertical-align:top; width: 30%;">
            <div class="mk">
                <div class="header_mk">
                    <div class="header_icon"></div>
                    <div class="header_text_div">
                        <span class="header_text_span">发票</span>
                        <div class="header_operation" style="float: right;margin-right:8px">
                            <button AttachmentType="发票" title="拍照上传" type="button" class="btn camera" style="width: 26px; padding: 0; vertical-align:baseline; height: 30px; background-color: #F5F5F5 !important;"><i class="iconfont">&#xe8d3;</i></button>
                            <button AttachmentType="发票" title="本地上传" type="button" class="btn upload" style="width: 26px; padding: 0; vertical-align:baseline; height: 30px; background-color: #F5F5F5 !important;"><i class="iconfont">&#xe98e;</i></button>
                        </div>
                    </div>
                </div>
                <div id="ImgInvoiceReceipt" class="body_mk" style="min-height:150px;height:auto;padding:10px">

                </div>
            </div>
        </td>
        <td style="text-align: left; width: 30%">
            <div class="mk">
                <div class="header_mk">
                    <div class="header_icon"></div>
                    <div class="header_text_div">
                        <span class="header_text_span">OA审批单</span>
                        <div class="header_operation" style="float: right;margin-right:8px">
                            <button AttachmentType="OA审批单" title="拍照上传" type="button" class="btn camera" style="width: 26px; padding: 0; vertical-align:baseline; height: 30px; background-color: #F5F5F5 !important;"><i class="iconfont">&#xe8d3;</i></button>
                            <button AttachmentType="OA审批单" title="本地上传" type="button" class="btn upload" style="width: 26px; padding: 0; vertical-align:baseline; height: 30px; background-color: #F5F5F5 !important;"><i class="iconfont">&#xe98e;</i></button>
                        </div>
                    </div>
                </div>
                <div id="ImgApprovalReceipt" class="body_mk" style="min-height:150px;height:auto;padding:10px">

                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td style="text-align: left;width:220px">
            <div class="mk">
                <div class="header_mk">
                    <div class="header_icon"></div>
                    <div class="header_text_div">
                        <span class="header_text_span">合同</span>
                        <div class="header_operation" style="float: right;margin-right:8px">
                            <button AttachmentType="合同" title="拍照上传" type="button" class="btn camera" style="width: 26px; padding: 0; vertical-align:baseline; height: 30px; background-color: #F5F5F5 !important;"><i class="iconfont">&#xe8d3;</i></button>
                            <button AttachmentType="合同" title="本地上传" type="button" class="btn upload" style="width: 26px; padding: 0; vertical-align:baseline; height: 30px; background-color: #F5F5F5 !important;"><i class="iconfont">&#xe98e;</i></button>
                        </div>
                    </div>
                </div>
                <div id="ImgContract" class="body_mk" style="min-height:150px;height:auto;padding:10px">

                </div>
            </div>
        </td>
        <td style="text-align: left;width:220px">
            <div class="mk">
                <div class="header_mk">
                    <div class="header_icon"></div>
                    <div class="header_text_div">
                        <span class="header_text_span">清单、清册</span>
                        <div class="header_operation" style="float: right;margin-right:8px">
                            <button AttachmentType="清单、清册" title="拍照上传" type="button" class="btn camera" style="width: 26px; padding: 0; vertical-align:baseline; height: 30px; background-color: #F5F5F5 !important;"><i class="iconfont">&#xe8d3;</i></button>
                            <button AttachmentType="清单、清册" title="本地上传" type="button" class="btn upload" style="width: 26px; padding: 0; vertical-align:baseline; height: 30px; background-color: #F5F5F5 !important;"><i class="iconfont">&#xe98e;</i></button>
                        </div>
                    </div>
                </div>
                <div id="ImgDetailList" class="body_mk" style="min-height:150px;height:auto;padding:10px">

                </div>
            </div>
        </td>
        <td style="text-align: left;width:220px">
            <div class="mk">
                <div class="header_mk">
                    <div class="header_icon"></div>
                    <div class="header_text_div">
                        <span class="header_text_span">其他</span>
                        <div class="header_operation" style="float: right;margin-right:8px">
                            <button AttachmentType="其他" title="拍照上传" type="button" class="btn camera" style="width: 26px; padding: 0; vertical-align:baseline; height: 30px; background-color: #F5F5F5 !important;"><i class="iconfont">&#xe8d3;</i></button>
                            <button AttachmentType="其他" title="本地上传" type="button" class="btn upload" style="width: 26px; padding: 0; vertical-align:baseline; height: 30px; background-color: #F5F5F5 !important;"><i class="iconfont">&#xe98e;</i></button>
                        </div>
                    </div>
                </div>
                <div id="ImgOtherReceipt" class="body_mk" style="min-height:150px;height:auto;padding:10px">

                </div>
            </div>
        </td>
    </tr>
</table>
<div class="mk" hidden>
    <div class="header_mk">
        <div class="header_icon"></div>
        <div class="header_text_div"><span class="header_text_span">附件信息</span></div>
    </div>
    <div class="body_mk" style="height: 240px;">
        <table id="AttachInfo" style="width:1000px;margin-top:20px">
            <tr style="height: 50px">
                <td style="text-align: right;width:100px" width="100">采购合同：</td>
                <td style="text-align: left;width:220px">
                    <a id="UploadContractFile" style="cursor:pointer">本地上传</a>&nbsp;
                    <a id="Attachment" href="" target="_blank" style="cursor:pointer" hidden="hidden">查看</a>
                </td>
                <td></td>
                <td></td>
            </tr>
        </table>
        <form id="contractFormFile" hidden>
            <input type="file" id="ContractFileInput" name="file" accept=".xls,.xlsx,.doc,.docx,.pdf,.jpg,.png" />
        </form>
    </div>
</div>
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="CreditDialog">
    <div class="modal-dialog modal-sm" style="width: 100%; padding-right: 20px; margin-top: 100px;">
        <div class="modal-content" style="width: 1150px; margin-left: auto; margin-right: auto;">
            <div class="modal-header" style="width: 100%; margin-left: auto; margin-right: auto;">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel_title" style="color: #555; font-family: Calibri;">付款凭证</h4>
            </div>
            <div class="modal-body" style="width: 100%; height: 600px; overflow: auto">
                <iframe id="ifrPrint" width="100%" height="100%" src="" frameborder="no" border="0" marginwidth="0" marginheight="0" scrolling="yes" allowtransparency="yes"></iframe>
            </div>
            <div class="modal-footer">
                <button id="CreditDialog_OKBtn" type="button" class="btn btn-warning" style="width: 85px;background-color: #16609c!important;margin-left: 18px; margin-top: 10px"><i class="iconfont btn_icon" style="color: white !important;margin-left: 0">&#xe678;</i><span style="margin-left: 7px; float: left;">打印</span></button>
            </div>
        </div>
    </div>
</div>
<!--拍照上传-->
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="UploadPictureDialog">
    <div class="modal-dialog modal-sm" style="width: 100%; padding-right: 20px; margin-top: 10px;">
        <div class="modal-content" style="width: 620px; margin-left: auto; margin-right: auto;">
            <div class="modal-header" style="width: 100%; margin-left: auto; margin-right: auto;">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel_title" style="color: #555; font-family: Calibri;">拍照上传</h4>
            </div>
            <div class="modal-body" style="width:100%;height:486px">
                <div style="position:relative">
                    <img style="position:absolute;top:0px;left:0px;z-index:2" id="bigPriDev" width="576" height="432" />
                    <img hidden style="position:absolute;top:0px;left:0px;z-index:3" id="devPhoto" width="576" height="432" />
                    <div style="position:absolute;top:432px;left:0px;z-index:2">
                        <input id="setdeskew" style="display: inline-block;vertical-align: middle;margin-bottom: 8px;" type="checkbox" value="">
                        <label for="setdeskew" style="font-size:13px;cursor:pointer">纠偏裁边</label>
                        <label id="rotateLeft" style="font-size:13px; cursor: pointer; margin-left:5px">左转</label>
                        <label id="rotateRight" style="font-size:13px;cursor:pointer; margin-left:5px">右转</label>
                        <label id="showProperty" style="font-size:13px;cursor:pointer; margin-left:5px">属性设置</label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="photographPri" type="button" class="btn btn-warning" style="width: 85px;background-color: #16609c!important;margin-left: 18px; margin-top: 10px"><i class="iconfont btn_icon" style="color: white !important;margin-left: 0">&#xe660;</i><span style="margin-left: 7px; float: left;">拍照</span></button>
                <button id="Upload_OKBtn" type="button" class="btn btn-warning" style="display:none;width: 85px;background-color: #16609c!important;margin-left: 18px; margin-top: 10px"><i class="iconfont btn_icon" style="color: white !important;margin-left: 0">&#xe6f3;</i><span style="margin-left: 7px; float: left;">上传</span></button>
                <button id="Upload_CancelBtn" type="button" class="btn btn-danger" style="width: 85px; border-color: #16609c !important; background-color: #16609c !important;margin-left: 18px; margin-top: 10px"><i class="iconfont btn_icon" style="color: white !important;margin-left: 0">&#xe678;</i><span style="margin-left: 7px; float: left;">取消</span></button>
            </div>
        </div>
    </div>
</div>
<div id="jqxLoader" style="z-index:9999">
</div>
<div style="display: none">
    <input id="AttachmentType" />    
    @*清算平台待支付订单唯一标识*@
    <input id="PaymentVoucherVguid" />
</div>
<form id="localFormFile" hidden>
    <input type="file" id="LocalFileInput" name="file" accept=".xls,.xlsx,.doc,.docx,.pdf,.jpg,.jpeg,.png" />
</form>