@using DaZhongTransitionLiquidation.Infrastructure.DbEntity

@{
    ViewBag.Title = "对账管理/二级渠道管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var currentModuleRolePermission = ViewBag.CurrentModulePermission as Sys_Role_Module;
}
@section js{
    <script src="@Url.CusContent("~/_theme/DatePicker/WdatePicker.js")"></script>
    <script src="@Url.CusContent("~/Areas/SystemManagement/Views/_js/Subject.js")"></script>
}

@section css{

}
@*@if (currentModuleRolePermission.Adds == 1 || currentModuleRolePermission.Deletes == 1)
    {*@
<table style="margin-top: 10px;">
    <tr style="height: 50px;">
        @*@if (currentModuleRolePermission.Adds == 1)
            {*@
        <td style="width: 95px;">
            <button id="btnAdd" type="button" class="buttons"><i class="iconfont btn_icon" style="color: black !important;">&#xe634;</i><span style="margin-left: 7px; float: left;">新增</span></button>
        </td>
        @*}
            @if (currentModuleRolePermission.Deletes == 1)
            {*@
        <td style="width: 95px;">
            <button id="btnDelete" type="button" class="buttons"><i class="iconfont btn_icon" style="color: black !important;">&#xe640;</i><span style="margin-left: 7px; float: left;">删除</span></button>
        </td>
        @* }*@
    </tr>
</table>
@* } *@
<!-- 中部条件 -->
<div class="mk">
    <div class="header_mk">
        <div class="header_icon"></div>
        <div class="header_text_div"><span class="header_text_span">查询</span></div>
    </div>
    <div class="body_mk" style="height: 60px;">
        <table style="margin-top: 20px; width: 550px; margin-left: 20px;">
            <tr style="height: 45px;">
                <td class="td_span" style="width:120px;">二级渠道名称：</td>
                <td class="td_input">
                    <input id="txtSubjectName" type="text" class="input_text form-control" />
                </td>
                <td style="width: 95px;">
                    <button id="btnSearch" type="button" class="buttons"><i class="iconfont btn_icon">&#xe679;</i><span style="margin-left: 7px; float: left;">查询</span></button>
                </td>
                <td>
                    <button id="btnReset" type="button" class="buttons"><i class="iconfont btn_icon">&#xe671;</i><span style="margin-left: 7px; float: left;">重置</span></button>
                </td>
            </tr>

        </table>
    </div>
</div>
<!-- 中部条件 -->
<!-- 底部表格 -->
<div class="mk">
    <div class="header_mk">
        <div class="header_icon"></div>
        <div class="header_text_div"><span class="header_text_span">数据列表</span></div>
    </div>
    <div id="jqxTable" class="jqxTable">
    </div>
</div>
<!-- 底部表格 -->
<input id="SubjectVguid" type="hidden" />
<div class="container">
    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="AddNewSubjectDialog">
        <div class="modal-dialog modal-sm" style="width: 100%; padding-right: 20px; margin-top: 100px;">
            <div class="modal-content" style="width: 445px; margin-left: auto; margin-right: auto;">
                <div class="modal-header" style="width: 100%; margin-left: auto; margin-right: auto;">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel_title" style="color: #555; font-family: Calibri;">二级渠道</h4>
                </div>
                <div class="modal-body" style="width: 100%;">
                    <input id="DepartmentVguid" name="Department" type="hidden" />
                    <table style="width: 100%;">
                        <tr style="height: 45px;">
                            <td style="width: 100px;text-align: left"><span class="spanText">二级渠道ID</span></td>
                            <td style="width: 150px;">
                                <input id="txtSubjectId_Dialog" type="text" class="input_text form-control" validatetype="required" />
                            </td>
                        </tr>
                        <tr style="height: 45px;">
                            <td style="width: 75px;text-align: left"><span class="spanText">二级渠道名称</span></td>
                            <td style="width: 150px;">
                                <input id="txtSubjectName_Dialog" type="text" class="input_text form-control" validatetype="required" />
                            </td>
                        </tr>
                        <tr style="height: 45px;">
                            <td style="width: 75px;text-align: left"><span class="spanText">渠道名称</span></td>
                            <td style="width: 150px;">
                                @*<input id="txtChannel_Dialog" type="text" class="input_text form-control" validatetype="required" />*@
                                <select id="txtChannel_Dialog" class="input_text form-control" validatetype="required">
                                    <option></option>
                                    @{
                                        foreach (var item in ViewBag.Channel)
                                        {
                                            <option value="@item.Vguid">@item.Name</option>
                                        }

                                    }
                                </select>
                            </td>
                        </tr>
                        <tr style="height: 45px;">
                            <td style="width: 75px;text-align: left"><span class="spanText">公司</span></td>
                            <td style="width: 150px;">
                                <div id="pushPeopleDropDownButton" class="input_text form-control">
                                    <div style="" id="pushTree">
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr style="height: 45px;">
                            <td style="width: 75px;text-align: left"><span class="spanText">押金渠道</span></td>
                            <td style="width: 150px;">
                                <input id="txtDeposit_Dialog" type="checkbox" />
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button id="AddNewSubject_OKButton" type="button" class="btn btn-warning" style="width: 85px;background-color: #16609c!important;margin-left: 18px; margin-top: 10px"><i class="iconfont btn_icon" style="color: white !important;margin-left: 0">&#xe6f3;</i><span style="margin-left: 7px; float: left;">保存</span></button>
                    <button id="AddNewSubject_CancelBtn" type="button" class="btn btn-danger" style="width: 85px; border-color: #16609c !important; background-color: #16609c !important;margin-left: 18px; margin-top: 10px"><i class="iconfont btn_icon" style="color: white !important;margin-left: 0">&#xe678;</i><span style="margin-left: 7px; float: left;">取消</span></button>
                </div>
            </div>
        </div>
    </div>
</div>
