@using DaZhongTransitionLiquidation.Infrastructure.DbEntity
@{
    ViewBag.Title = "资产报表/车辆核定表";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var currentModuleRolePermission = ViewBag.CurrentModulePermission as Sys_Role_Module;
}
@section js{
    <script src="@Url.CusContent("~/_theme/DatePicker/WdatePicker.js")"></script>
    <script src="@Url.CusContent("~/Areas/AssetManagement/Views/_js/AssetReport.js")"></script>
}

<style>
    .red {
        color: black\9;
        background-color: #e83636\9;
    }
    .red:not(.jqx-grid-cell-hover):not(.jqx-grid-cell-selected), .jqx-widget .red:not(.jqx-grid-cell-hover):not(.jqx-grid-cell-selected) {
        color: black;
        background-color: #e83636;
    }
    .jqx-pivotgrid-item {
        text-align:center;
    }
</style>
<input type="hidden" id="EditPermission" value="@currentModuleRolePermission.Edit" />
@if (currentModuleRolePermission.Adds == 1 || currentModuleRolePermission.Deletes == 1)
{
    <table style="margin-top: 10px;display:block;" id="buttonList">
        <tr style="height: 50px;">
            @if (currentModuleRolePermission.Adds == 1)
            {
                <td style="width: 95px;">
                    <button id="btnGetData" type="button" class="buttons" ><i class="iconfont btn_icon" style="color: black !important;">&#xe683;</i><span style="margin-left: 7px;float: left;">获取</span></button>
                </td>
                <td style="width: 95px;">
                    <button id="btnSubmit" type="button" class="buttons" style="margin-left: 10px"><i class="iconfont btn_icon" style="color: black !important;">&#xe683;</i><span style="margin-left: 7px; float: left;">提交</span></button>
                </td>
            }
        </tr>
    </table>
}
<!-- 中部条件 -->
<div class="mk">
    <div class="header_mk">
        <div class="header_icon"></div>
        <div class="header_text_div"><span class="header_text_span">查询</span></div>
    </div>
    <div class="body_mk" style="height: 60px;">
        <table style="margin-top: 20px; width: 1000px; margin-left: 20px;">
            <tr style="height: 45px;">
                <td class="td_span">月份：</td>
                <td class="td_input">
                    @*<input id="PLATE_NUMBER" type="text" class="input_text form-control" style="width: 200px">*@
                    <input id="YearMonth" type="text" onfocus="WdatePicker({  realDateFmt: 'yyyy-MM', dateFmt: 'yyyy-MM', lang: 'zh-cn' })" class="input_text form-control" style="width: 200px">
                </td>
                <td style="width: 95px;">
                    <button id="btnSearch" hidden type="button" class="buttons"><i class="iconfont btn_icon">&#xe679;</i><span style="margin-left: 7px; float: left;">查询</span></button>
                </td>
                <td>
                    <button id="btnReset" hidden type="button" class="buttons"><i class="iconfont btn_icon">&#xe671;</i><span style="margin-left: 7px; float: left;">重置</span></button>
                </td>
            </tr>
        </table>
    </div>
</div>
<!-- 中部条件 -->
<!-- 底部表格 -->
<div class="mk">
    <div class="header_mk">
        <div class="header_icon"></div>
        <div class="header_text_div"><span class="header_text_span">数据列表</span></div>
    </div>
    <div style="max-width:1200px; overflow-x: scroll;">
        <div style="min-width:2260px;">
            <div id="jqxStartPeriodTable" class="jqxTable" style="height:300px;background-color: white; float: left;">
            </div>
            <div id="jqxAddedTable" class="jqxTable" style="height: 300px; background-color: white;float:left;">
            </div>
            <div id="jqxReduceTable" class="jqxTable" style="height: 300px;background-color: white;float:left;">
            </div>
            <div id="jqxEndPeriodTable" class="jqxTable" style="height: 300px;background-color: white;float:left;">
            </div>
        </div>
        <div style="min-width:2260px;clear:left">
            <div id="jqxStartPeriodTable1" class="jqxTable" style="height:300px;background-color: white; float: left;">
            </div>
            <div id="jqxAddedTable1" class="jqxTable" style="height: 300px;  background-color: white;float:left;">
            </div>
            <div id="jqxReduceTable1" class="jqxTable" style="height: 300px;  background-color: white;float:left;">
            </div>
            <div id="jqxEndPeriodTable1" class="jqxTable" style="height: 300px;  background-color: white;float:left;">
            </div>
        </div>
    </div>
</div>
<style>
    .input_text {
        width: 340px;
    }
</style>
<!-- 底部表格 -->
<input type="hidden" id="EditPermission" value="@currentModuleRolePermission.Edit" />
<input type="hidden" id="PeriodType" value="" />
<input type="hidden" id="ShowType" value="" />