@using DaZhongTransitionLiquidation.Infrastructure.DbEntity
@using DaZhongTransitionLiquidation.Areas.AssetManagement.Models;
@{
    ViewBag.Title = "固定资产净值";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var user = ViewBag.User as Sys_User;
    var permission = user.GetCurrentPagePermission();
}
@section js{
    <script src="@Url.CusContent("~/Areas/AnalysisManagementCenter/Views/_js/FixedAssetsNetValue.js")"></script>
    <script src="@Url.CusContent("/_theme/DatePicker/WdatePicker.js")"></script>
}
<style type="text/css">
    .yellowlight {
        background-color: #fbff00;
    }
    .yellowlight:not(.jqx-grid-cell-hover):not(.jqx-grid-cell-selected), .jqx-widget .yellowlight:not(.jqx-grid-cell-hover):not(.jqx-grid-cell-selected) {
        background-color: #fbff00;
    }
    .blue {
        background-color: #8bbcdf;
    }
    .blue:not(.jqx-grid-cell-hover):not(.jqx-grid-cell-selected), .jqx-widget .blue:not(.jqx-grid-cell-hover):not(.jqx-grid-cell-selected) {
        background-color: #8bbcdf;
    }
    .gray {
        background-color: #a6a5a5;
    }
    .gray:not(.jqx-grid-cell-hover):not(.jqx-grid-cell-selected), .jqx-widget .gray:not(.jqx-grid-cell-hover):not(.jqx-grid-cell-selected) {
        background-color: #a6a5a5;
    }
    .yellow {
        background-color: #ffd800;
    }
    .yellow:not(.jqx-grid-cell-hover):not(.jqx-grid-cell-selected), .jqx-widget .yellow:not(.jqx-grid-cell-hover):not(.jqx-grid-cell-selected) {
        background-color: #ffd800;
    }
</style>
<div class="mk">
    <div class="header_mk">
        <div class="header_icon"></div>
        <div class="header_text_div"><span class="header_text_span">查询</span></div>
    </div>
    <div class="body_mk" style="height: 60px;">
        <table style="margin-top: 20px; width: 650px; margin-left: 20px;">
            <tr style="height: 45px;">
                <td style="width: 50px;text-align: right"><span class="spanText">年份：</span></td>
                <td style="width: 100px;text-align: center">
                    <input id="DateOfYear" type="text" onfocus="WdatePicker({ realDateFmt: 'yyyy', dateFmt: 'yyyy', lang: 'zh-cn', onpicked: pickedFunc })" class="input_text form-control" style="width: 200px" validatetype="required">
                </td>
                <td style="width: 50px;text-align: right"><span class="spanText">月份：</span></td>
                <td style="width: 200px;">
                    <select id="StartMonth" class="input_text form-control" style="width: 75px;float:left" >
                        <option value="1">1月</option>
                        <option value="2">2月</option>
                        <option value="3">3月</option>
                        <option value="4">4月</option>
                        <option value="5">5月</option>
                        <option value="6">6月</option>
                        <option value="7">7月</option>
                        <option value="8">8月</option>
                        <option value="9">9月</option>
                        <option value="10">10月</option>
                        <option value="11">11月</option>
                        <option value="12">12月</option>
                    </select><p style="float: left;padding-top:5px">-</p>
                    <select id="EndMonth" class="input_text form-control" style="width: 75px;float:left" >
                        <option value="1">1月</option>
                        <option value="2">2月</option>
                        <option value="3">3月</option>
                        <option value="4">4月</option>
                        <option value="5">5月</option>
                        <option value="6">6月</option>
                        <option value="7">7月</option>
                        <option value="8">8月</option>
                        <option value="9">9月</option>
                        <option value="10">10月</option>
                        <option value="11">11月</option>
                        <option value="12">12月</option>
                    </select>
                </td>
                <td style="width: 95px;">
                    <button id="btnSearch" type="button" class="buttons"><i class="iconfont btn_icon">&#xe679;</i><span style="margin-left: 7px; float: left;">查询</span></button>
                </td>
            </tr>
            <tr>
        </table>
    </div>
</div>
<div class="mk">
    <div class="header_mk">
        <div class="header_icon"></div>
        <div class="header_text_div"><span class="header_text_span">数据列表</span></div>
    </div>
    <div class="body_mk" style="height: 320px;">
        <div id="table"></div>
        <div style="display: none">
            <input id="VGUID" />
        </div>
    </div>
</div>
<input type="hidden" id="EditPermission" value="@permission.Edit.ToString()" />
<input type="hidden" id="NewPermission" value="@permission.New.ToString()" />