
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="all" />
    <title>没有权限</title>
    <link href="/_theme/css/cmstop-error.css" rel="stylesheet" />
</head>
<body class="body-bg">
    <div class="main" style="background: url(/_theme/images/1.png) no-repeat">
    </div>
</body>
</html>
