
@{
    ViewBag.Title = "开发中";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section js{

}

@section css{

}
<body>
<div style="text-align: center">
    <img style="margin-top: 10%"src="/_theme/images/Developing.png"/>
</div>
</body>

