@using DaZhongTransitionLiquidation.Infrastructure.DbEntity
@{
    ViewBag.Title = "资产变报废/资产报废审核列表";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var user = ViewBag.User as Sys_User;
    var permission = user.GetCurrentPagePermission();
}
@section js{
    <script src="@Url.CusContent("~/_theme/DatePicker/WdatePicker.js")"></script>
    <script src="@Url.CusContent("~/Areas/AssetManagement/Views/_js/AssetsRetirementReview.js")"></script>
}

@section css{

}
<input type="hidden" id="EditPermission" value="@permission.Edit.ToString()" />
@if (permission.Generate || permission.Submit)
{
    <table style="margin-top: 10px;display:block;" id="buttonList">
        <tr style="height: 50px;">
            @if (permission.Generate)
            {
                <td style="width: 95px;">
                    <button id="btnGetScrap" type="button" class="buttons"><i class="iconfont btn_icon" style="color: black !important;">&#xe683;</i><span style="margin-left: 7px; float: left;">获取</span></button>
                </td>
                <td style="width: 95px;">
                    <button id="btnVerify" type="button" class="buttons"><i class="iconfont btn_icon" style="color: black !important;">&#xe683;</i><span style="margin-left: 7px; float: left;">校验</span></button>
                </td>
            }
            @if (permission.Submit)
            {
                <td style="width: 95px;">
                    <button id="btnSubmit" type="button" class="buttons"><i class="iconfont btn_icon" style="color: black !important;">&#xe91c;</i><span style="margin-left: 7px; float: left;">提交</span></button>
                </td>
            }
        </tr>
    </table>
}
<!-- 中部条件 -->
<div class="mk">
    <div class="header_mk">
        <div class="header_icon"></div>
        <div class="header_text_div"><span class="header_text_span">查询</span></div>
    </div>
    <div class="body_mk" style="height: 60px;">
        <table style="margin-top: 20px; width: 1000px; margin-left: 20px;">
            <tr style="height: 45px;">
                <td class="td_span">月份：</td>
                <td class="td_input">
                    @*<input id="PLATE_NUMBER" type="text" class="input_text form-control" style="width: 200px">*@
                    <input id="YearMonth" type="text" onfocus="WdatePicker({  realDateFmt: 'yyyy-MM', dateFmt: 'yyyy-MM', lang: 'zh-cn' })" class="input_text form-control" style="width: 200px">
                </td>
                <td style="width: 95px;">
                    <button id="btnSearch" hidden type="button" class="buttons"><i class="iconfont btn_icon">&#xe679;</i><span style="margin-left: 7px; float: left;">查询</span></button>
                </td>
                <td>
                    <button id="btnReset" hidden type="button" class="buttons"><i class="iconfont btn_icon">&#xe671;</i><span style="margin-left: 7px; float: left;">重置</span></button>
                </td>
            </tr>
        </table>
    </div>
</div>
<!-- 中部条件 -->
<!-- 底部表格 -->
<div class="mk">
    <div class="header_mk">
        <div class="header_icon"></div>
        <div class="header_text_div"><span class="header_text_span">数据列表</span></div>
    </div>
    <div id="jqxTable" class="jqxTable">
    </div>
</div>
<style>
    .input_text {
        width: 340px;
    }
</style>