@using DaZhongTransitionLiquidation.Infrastructure.DbEntity
@using DaZhongTransitionLiquidation.Areas.PaymentManagement.Models;
@{
    ViewBag.Title = "支付订单/订单明细";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var currentModuleRolePermission = ViewBag.CurrentModulePermission as Sys_Role_Module;
    var companyCode = ViewBag.CompanyCode as List<Business_SevenSection>;
}
@section js{
    <script src="@Url.CusContent("~/_theme/DatePicker/WdatePicker.js")"></script>
    <script src="@Url.CusContent("~/Areas/CapitalCenterManagement/Views/_js/OrderListDraftDetail.js")"></script>
}
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="imagetoolbar" content="no" />

<style>
    * {
        padding: 0px;
    }

    #gallery img {
        border: none;
    }

    #gallery_nav {
        float: left;
        width: 112px;
        text-align: center;
    }

        #gallery_nav a {
            display: block;
            height: 118px;
        }

    #gallery_output {
        float: left;
        width: 1000px;
        overflow: hidden;
        margin-top: 140px;
    }

        #gallery_output img {
            display: block;
            margin: 0px auto 0 auto;
        }

    .on {
        border: 1px solid rgba(92,92,92,1.00);
    }

    /*body {
        background: #EEE;
        font-family: "Trebuchet MS",Verdana,Arial,sans-serif;
        font-size: 14px;
        line-height: 1.6;
    }*/

    #content {
        width: 1200px;
        margin: 24px auto;
        padding: 20px;
        background: #FFF;
        border: 1px solid #CCC;
    }

    h1 {
        margin: 0;
    }



    p {
        margin: 0;
        padding: 7px 0;
    }

    .clear {
        clear: both;
        line-height: 1px;
        font-size: 1px;
    }

    a {
        outline-color: #888;
        padding: 7px 0;
    }
</style>

<table id="hideButton" style="margin-top: 10px;">
    <tr style="height: 50px;">
        <td style="width: 95px;">
            <button id="btnUp" type="button" class="buttons" style="display:none"><i class="iconfont btn_icon" style="color: black !important;">&#xe6f3;</i><span style="margin-left: 7px; float: left;">提交</span></button>
        </td>
        <td style="width: 95px;">
            <button id="Comeback" type="button" class="buttons" style=""><i class="iconfont btn_icon" style="color: black !important;">&#xe678;</i><span style="margin-left: 7px; float: left;">返回</span></button>
        </td>
        <td>
            <input id="Status" name="Status" value="" class="hide" />
            <input id="VGUID" name="VGUID" class="hide" />
        </td>
    </tr>
</table>

<div class="mk">
    @*<div class="header_mk">
            <div class="header_icon"></div>
            <div class="header_text_div"><span class="header_text_span">主信息</span></div>
        </div>*@
    @*<div class="body_mk" style="height: 600px;">*@
    <div class="header_mk">
        <div class="header_icon"></div>
        <div class="header_text_div"><span class="header_text_span">附件</span></div>
    </div>
    <div class="body_mk" style="height: 100px;">
        <a rel="img1" href="/_theme/temp/img/20191101622387727826.jpg"><img src="/_theme/temp/img/20191101622387727826.jpg" style="width: 150px;margin: 6px;" /></a>
    </div>
    <br />
    <div class="header_mk">
        <div class="header_icon"></div>
        <div class="header_text_div"><span class="header_text_span">付款凭证</span></div>
    </div>
    <div class="body_mk" style="height: 100px;">
        <a rel="img2" href="/_theme/temp/img/20191101624157557300.jpg"><img src="/_theme/temp/img/20191101624157557300.jpg" style="width: 150px;margin: 6px;" /></a>
    </div>
    <br />
    <div class="header_mk">
        <div class="header_icon"></div>
        <div class="header_text_div"><span class="header_text_span">其他1</span></div>
    </div>
    <div class="body_mk" style="height: 100px;">
        <a rel="img3" href="/_theme/temp/img/20191101622387727826.jpg"><img src="/_theme/temp/img/20191101622387727826.jpg" style="width: 150px;margin: 6px;" /></a>
        <a rel="img4" href="/_theme/temp/img/201812281733246564733.jpg"><img src="/_theme/temp/img/201812281733246564733.jpg" style="width: 150px;margin: 6px;" /></a>
    </div>
    <br />
    <div class="header_mk">
        <div class="header_icon"></div>
        <div class="header_text_div"><span class="header_text_span">其他2</span></div>
    </div>
    <div class="body_mk" style="height: 100px;">

    </div>
    <br />
    <div class="header_mk">
        <div class="header_icon"></div>
        <div class="header_text_div"><span class="header_text_span">其他3</span></div>
    </div>
    <div class="body_mk" style="height: 100px;">

    </div>
    <br />
    <div class="header_mk">
        <div class="header_icon"></div>
        <div class="header_text_div"><span class="header_text_span">其他4</span></div>
    </div>
    <div class="body_mk" style="height: 100px;">

    </div>
    <br />
</div>
@*<div id='jqxTabs' style="display:none">
        <ul>
            <li style="margin-left: 30px;">
                <div style="height: 20px; margin-top: 5px;">
                    发票
                </div>
            </li>
            <li>
                <div style="height: 20px; margin-top: 5px;">
                    付款凭证
                </div>
            </li>
            <li>
                <div style="height: 20px; margin-top: 5px;">
                    其他1
                </div>
            </li>
            <li>
                <div style="height: 20px; margin-top: 5px;">
                    其他2
                </div>
            </li>
            <li>
                <div style="height: 20px; margin-top: 5px;">
                    其他3
                </div>
            </li>
            <li>
                <div style="height: 20px; margin-top: 5px;">
                    其他4
                </div>
            </li>
        </ul>
        <div style="overflow: hidden;">
            <div id="content">
                <div id="gallery">
                    <div id="gallery_nav">
                        <a class="on" rel="img1" href="javascript:;"><img src="/_theme/images/System Management.png" style="width: 100px;" /></a>
                        <a rel="img2" href="javascript:;"><img src="/_theme/images/Accrual.png" style="width: 100px;" /></a>
                        <a rel="img3" href="javascript:;"><img src="/_theme/images/Payment.png" style="width: 100px;" /></a>
                        <a rel="img4" href="javascript:;"><img src="/_theme/images/Business Data.png" style="width: 100px;" /></a>
                    </div>
                    <div id="gallery_output">
                        <img id="img1" src="/_theme/images/System Management.png" />
                        <img id="img2" src="/_theme/images/Accrual.png" />
                        <img id="img3" src="/_theme/images/Payment.png" />
                        <img id="img4" src="/_theme/images/Business Data.png" />
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div style="overflow: hidden;">

        </div>
        <div style="overflow: hidden;">

        </div>
        <div style="overflow: hidden;">

        </div>
        <div style="overflow: hidden;">

        </div>
        <div style="overflow: hidden;">

        </div>
    </div>*@

@*</div>*@

