@using DaZhongTransitionLiquidation.Infrastructure.DbEntity
@{
    ViewBag.Title = "订单管理/固定资产";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var currentModuleRolePermission = ViewBag.CurrentModulePermission as Sys_Role_Module;
}
@section js{
    <script src="@Url.CusContent("~/_theme/DatePicker/WdatePicker.js")"></script>
    <script src="@Url.CusContent("~/Areas/AssetPurchase/Views/_js/FixedAssetsOrder.js")"></script>
}

@section css{

}
<input type="hidden" id="EditPermission" value="@currentModuleRolePermission.Edit" />
@if (currentModuleRolePermission.Adds == 1 || currentModuleRolePermission.Deletes == 1)
{
    <table style="margin-top: 10px;display:block;" id="buttonList">
        <tr style="height: 50px;">
            
            
            @if (currentModuleRolePermission.Adds == 1)
            {
                <td style="width: 115px;">
                    <button id="btnAdd" type="button" class="buttons" style="width: 100px"><i class="iconfont btn_icon" style="color: black !important;">&#xe634;</i><span style="margin-left: 7px; float: left;">新增订单</span></button>
                </td>
            }
            @if (currentModuleRolePermission.Deletes == 1)
            {
                <td style="width: 115px;">
                    <button id="btnDelete" type="button" class="buttons" style="width: 100px"><i class="iconfont btn_icon" style="color: black !important;">&#xe640;</i><span style="margin-left: 7px; float: left;">删除订单</span></button>
                </td>
            }
            @if (currentModuleRolePermission.Adds == 1)
             {
                 <td style="width: 95px;">
                     <button id="btnSubmit" type="button" class="buttons" style="width:100px"><i class="iconfont btn_icon" style="color: black !important;">&#xe683;</i><span style="margin-left: 7px; float: left;">发起支付</span></button>
                 </td>
             }
        </tr>
    </table>
}
<!-- 中部条件 -->
<div class="mk">
    <div class="header_mk">
        <div class="header_icon"></div>
        <div class="header_text_div"><span class="header_text_span">查询</span></div>
    </div>
    <div class="body_mk" style="height: 60px;">
        <table style="margin-top: 20px; width: 900px; margin-left: 20px;">
            <tr style="height: 45px;">
                <td class="td_span">采购物品：</td>
                <td class="td_input">
                    <select id="PurchaseGoods" class="input_text form-control" style="width: 200px">
                    </select>
                </td>
                <td class="td_span">支付状态：</td>
                <td class="td_input">
                    <select id="SubmitStatus" class="input_text form-control" style="width: 200px">
                        <option value="-1" selected="true">全部</option>
                        <option value="0">待发起支付</option>
                        <option value="1">待支付</option>
                        <option value="2">已支付</option>
                    </select>
                </td>
                <td style="width: 95px;">
                    <button id="btnSearch" type="button" class="buttons"><i class="iconfont btn_icon">&#xe679;</i><span style="margin-left: 7px; float: left;">查询</span></button>
                </td>
                <td>
                    <button id="btnReset" type="button" class="buttons"><i class="iconfont btn_icon">&#xe671;</i><span style="margin-left: 7px; float: left;">重置</span></button>
                </td>
            </tr>
            <tr>
        </table>
    </div>
</div>
<!-- 中部条件 -->
<!-- 底部表格 -->
<div class="mk">
    <div class="header_mk">
        <div class="header_icon"></div>
        <div class="header_text_div"><span class="header_text_span">数据列表</span></div>
    </div>
    <div id="jqxTable" class="jqxTable">
    </div>
</div>
<style>
    .input_text {
        width: 340px;
    }
</style>
<!-- 底部表格 -->
<input type="hidden" id="EditPermission" value="@currentModuleRolePermission.Edit" />