@using DaZhongTransitionLiquidation.Infrastructure.DbEntity
@using DaZhongTransitionLiquidation.Areas.PaymentManagement.Models;
@{
    ViewBag.Title = "订单需求配置/订单需求配置明细";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var currentModuleRolePermission = ViewBag.CurrentModulePermission as Sys_Role_Module;
    var companyCode = ViewBag.CompanyCode as List<Business_SevenSection>;
}
@section js{
    <script src="@Url.Content("~/_theme/DatePicker/WdatePicker.js")"></script>
    <script src="@Url.Content("~/Areas/CapitalCenterManagement/Views/_js/OrderListDetail.js")"></script>
}
<style>
    .input_text {
        width: 150px;
        height: 35px;
        border: 1px;
        border-style: solid;
        border-color: #dddddd;
        -moz-box-shadow: 0px 1px 10px #dddddd;
        -webkit-box-shadow: 0px 1px 10px #dddddd;
        box-shadow: 0 0 10px #dddddd;
        background-color: white !important;
        border-radius: 4px;
        float: left;
    }

    .jqx-tabs-content-element {
        overflow: auto !important;
    }
</style>
<table id="hideButton" style="margin-top: 10px;display:none">
    <tr style="height: 50px;">
        <td style="width: 95px;">
            <button id="btnSave" type="button" class="buttons" style=""><i class="iconfont btn_icon" style="color: black !important;">&#xe6f3;</i><span style="margin-left: 7px; float: left;">保存</span></button>
        </td>
        <td style="width: 95px;">
            <button id="btnCancel" type="button" class="buttons" style=""><i class="iconfont btn_icon" style="color: black !important;">&#xe678; </i><span style="margin-left: 7px; float: left;">取消</span></button>
        </td>
    </tr>
</table>

<div class="mk">
    <div class="header_mk">
        <div class="header_icon"></div>
        <div class="header_text_div"><span class="header_text_span">主信息</span></div>
    </div>
    <div class="body_mk" style="height: 350px;">
        <table id="VoucherList" style="width:70%;margin-left:240px">
            <tr style="height:50px">
                <td style="text-align: right;">业务类型：</td>
                <td style="text-align: left;">
                    <select id="BusinessType" class="input_text form-control" style="width: 200px;"></select>
                    <button id="btnAdd" type="button" class="buttons"><i class="iconfont btn_icon" style="color: black !important;">&#xe634;</i><span style="margin-left: 7px; float: left;">配置</span></button>
                    @*<input id="BusinessType" type="text" style="width: 200px;" class="input_text form-control" />*@
                </td>
                <td style="text-align: right;">业务项目：</td>
                <td style="text-align: left;"><input id="BusinessProject" type="text" style="width: 200px;" class="input_text form-control" /></td>
            </tr>
            <tr style="height:50px">
                <td style="text-align: right;">业务子项1：</td>
                <td style="text-align: left;"><input id="BusinessSubItem1" type="text" style="width: 200px;" class="input_text form-control" /></td>
                <td style="text-align: right;">业务子项2：</td>
                <td style="text-align: left;"><input id="BusinessSubItem2" type="text" style="width: 200px;" class="input_text form-control" /></td>
            </tr>
            <tr style="height:50px">
                <td style="text-align: right;">业务子项3：</td>
                <td style="text-align: left;"><input id="BusinessSubItem3" type="text" style="width: 200px;" class="input_text form-control" /></td>
                <td style="text-align: right;">公司/单位/个人：</td>
                <td style="text-align: left;">
                    <div id='CollectionCompany' class="input_text form-control"></div>
                @*<select id="CollectionCompany" class="input_text form-control" style="width: 200px;" onchange="companyChange()"></select>*@
                </td>
            </tr>
            <tr style="height:50px">
                <td style="text-align: right;">收款账号：</td>
                <td style="text-align: left;"><input id="CollectionAccount" type="text" style="width: 200px;" class="input_text form-control" readonly="readonly" /></td>
                <td style="text-align: right;">户名：</td>
                <td style="text-align: left;"><input id="CollectionBankAccountName" type="text" style="width: 200px;" class="input_text form-control" readonly="readonly"/></td>
            </tr>
            <tr style="height:50px">
                <td style="text-align: right;">开户行：</td>
                <td style="text-align: left;"><input id="CollectionBank" type="text" style="width: 200px;" class="input_text form-control" readonly="readonly"/></td>           
                <td style="text-align: right;">银行行号：</td>
                <td style="text-align: left;"><input id="CollectionBankAccount" type="text" style="width: 200px;" class="input_text form-control" readonly="readonly"/></td>

            </tr>
            <tr>
                <td style="text-align: right;">支付方式：</td>
                <td style="text-align: right;">
                    <select id="PaymentMethod" style="width: 200px;" class="input_text form-control">
                        <option value="银行">银行</option>
                        <option value="现金">现金</option>
                        <option value="其他">其他</option>
                    </select>
                </td>
                <td style="text-align: right;"></td>
                <td style="text-align: right;"></td>
            <tr />


            @*凭证7个段配置*@
            <tr style="height:50px;display:none">
                @*<td style="text-align: right;">金额：</td>
                    <td style="text-align: left;"><input id="Money" type="text" style="width: 200px;" class="input_text form-control" validatetype="decimalNumber"/></td>*@
                <td style="text-align: right;">公司段：</td>
                <td style="text-align: left;"><select id="CompanyCode" style="width: 200px;" class="input_text form-control" onchange="gradeChange()"></select></td>
                <td style="text-align: right;">科目段：</td>
                <td style="text-align: left;">
                    <input id="SubjectName" type="text" style="width: 200px;" class="input_text form-control" readonly="readonly" />&nbsp;&nbsp;&nbsp;&nbsp;
                    <input id="SubjectSection" name="SubjectSection" class="hide" />
                    <button id="btnSearch" type="button" class="buttons" onclick="searchSubject(btnSearch)"><i class="iconfont btn_icon">&#xe679;</i><span style="margin-left: 7px; float: left;">选择</span></button>
                </td>
                <td style="text-align: right;"></td>
                <td style="text-align: left;"></td>
            </tr>
            <tr style="height:50px;display:none">
                <td style="text-align: right;">核算段：</td>
                <td style="text-align: left;"><select id="AccountSection" style="width: 200px;" class="input_text form-control"></select></td>
                <td style="text-align: right;">成本中心：</td>
                <td style="text-align: left;"><select id="CostCenterSection" style="width: 200px;" class="input_text form-control"></select></td>
                <td style="text-align: right;">备用1：</td>
                <td style="text-align: left;"><select id="SpareOneSection" style="width: 200px;" class="input_text form-control"></select></td>
            </tr>
            <tr style="height:50px;display:none">
                <td style="text-align: right;">备用2：</td>
                <td style="text-align: right;"><select id="SpareTwoSection" style="width: 200px;" class="input_text form-control"></select></td>
                <td style="text-align: right;">往来段：</td>
                <td style="text-align: left;"><select id="IntercourseSection" style="width: 200px;" class="input_text form-control"></select></td>
                <td style="text-align: right;"><input id="Status" name="Status" value="1" class="hide" /><input id="VGUID" name="VGUID" class="hide" /></td>
                <td style="text-align: right;"></td>
            </tr>
        </table>
    </div>
</div>

<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="AddCompanyDialog">
    <div class="modal-dialog modal-sm" style="width: 100%; padding-right: 20px; margin-top: 100px;">
        <div class="modal-content" style="width: 500px; margin-left: auto; margin-right: auto;">
            <div class="modal-header" style="width: 100%; margin-left: auto; margin-right: auto;">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel_titles2" style="color: #555; font-family: Calibri;">选择科目段</h4>
            </div>
            <div class="modal-body" style="width: 100%;">
                <div id="jqxSubjectSection" class="jqxTable" style=""></div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="AddBusinessType">
    <div class="modal-dialog modal-sm" style="width: 100%; padding-right: 20px; margin-top: 100px;">
        <div class="modal-content" style="width: 500px; margin-left: auto; margin-right: auto;">
            <div class="modal-header" style="width: 100%; margin-left: auto; margin-right: auto;">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel_titles" style="color: #555; font-family: Calibri;">配置业务类型</h4>
            </div>
            <div class="modal-body" style="width: 100%;">
                <table style="width: 100%;">
                    <tr style="height: 45px;">
                        <td style="width: 100px;text-align: right"><span class="spanText">业务类型：</span></td>
                        <td style="width: 150px;text-align: center">
                            <input id="BusinessTypeName" type="text" class="input_text form-control" style="width: 200px !important;" validatetype="required" />
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-body" style="width: 100%;">
                <div id="jqxBusinessTypeName" class="jqxTable" style="margin-left: 80px"></div>
                <input id="BusinessVGUID" name="BusinessVGUID" class="hide" />
            </div>
            <div class="modal-footer">
                <button id="AddBankChannel_OKButton" type="button" class="btn btn-warning" style="width: 85px;background-color: #16609c!important;margin-left: 18px; margin-top: 10px"><i class="iconfont btn_icon" style="color: white !important;margin-left: 0">&#xe6f3;</i><span style="margin-left: 7px; float: left;">保存</span></button>
                <button id="AddBankChannel_CancelBtn" type="button" class="btn btn-danger" style="width: 85px; border-color: #16609c !important; background-color: #16609c !important;margin-left: 18px; margin-top: 10px"><i class="iconfont btn_icon" style="color: white !important;margin-left: 0">&#xe678;</i><span style="margin-left: 7px; float: left;">取消</span></button>
            </div>
        </div>
    </div>
</div>

